#pechakucha:hover{ 
            cursor:pointer;
            color:#AEC7E0;
            transition: color 0.3s
            }

#ASMRWindow:hover{ 
            cursor:pointer;
            color:#AEC7E0;
            transition: color 0.3s
            }
#TheThingIAlmostSaid:hover{
    cursor:pointer;
            color:#AEC7E0;
            transition: color 0.3s
            }

#sketch1:hover{
    cursor:pointer;
            color:#AEC7E0;
            transition: color 0.3s
            }

#sketch2:hover{
    cursor:pointer;
            color:#AEC7E0;
            transition: color 0.3s
            }

#sketch3:hover{
    cursor:pointer;
            color:#AEC7E0;
            transition: color 0.3s
            }

#sketch4:hover{
    cursor:pointer;
            color:#AEC7E0;
            transition: color 0.3s
            }