#pechakuchatitle:hover{ 
            cursor:pointer;
            color:#BDDBF7;
            transition: color 0.3s
            }

#ASMRWindow:hover{ 
            cursor:pointer;
            color:#BDDBF7;
            transition: color 0.3s
            }
#TheThingIAlmostSaid:hover{
    cursor:pointer;
            color:#AEC7E0;
            transition: color 0.3s
            }

#DearLosAngeles:hover{
    cursor:pointer;
            color:#AEC7E0;
            transition: color 0.3s
            }

#vc1:hover{
    cursor:pointer;
            color:#CFE1B9;
            transition: color 0.3s
            }

#vc2:hover{
    cursor:pointer;
            color:#CFE1B9;
            transition: color 0.3s
            }

#vc3:hover{
    cursor:pointer;
            color:#CFE1B9;
            transition: color 0.3s
            }

#vc4:hover{
    cursor:pointer;
            color:#CFE1B9;
            transition: color 0.3s
            }

#vc5:hover{
    cursor:pointer;
            color:#CFE1B9;
            transition: color 0.3s
            }

#vc6:hover{
    cursor:pointer;
            color:#CFE1B9;
            transition: color 0.3s
            }

#vc7:hover{
    cursor:pointer;
            color:#CFE1B9;
            transition: color 0.3s
            }

#vc8:hover{
    cursor:pointer;
            color:#CFE1B9;
            transition: color 0.3s
            }