#about:hover {
          color: #683629;
        }
    #neighborhoods:hover {
          color: #683629;
        }
     #title:hover {
          color: #683629;
        }
#archives:hover {
          color: #683629;
        }
#checkout:hover {
    color: #683629;
    transition: color 0.3s;
     cursor: pointer;
}

#koreatown:hover,
#westhollywood:hover,
#silverlake:hover,
#artdistrict:hover,
#santamonica:hover,
#centralla:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 25px rgba(128, 171, 215, 0.9);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}