#about:hover {
          color: #683629;
        }
    #neighborhoods:hover {
          color: #683629;
        }
     #title:hover {
          color: #683629;
        }

#checkout:hover {
    color: #683629;
    transition: color 0.3s;
     cursor: pointer;
}